@import "tailwindcss";


:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	
	
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
  	--plyr-color-main:rgb(255, 40, 40);

}

@theme{
	--color-background:#0f0f0f;
	--color-background-2:#141414;
	--color-background-3:#2a2a2a;
	--color-background-4:#333333;
	--color-card:#1c1c1c;

	

}

body {
	margin: 0;
	padding:0;
	
}

